
$color-first: hsl(36, 100%, 99%);

$color-second: hsl(240, 100%, 5%);

$color-third: hsl(35, 77%, 62%);

$color-thourth: hsl(236, 13%, 42%);

$color-fith: hsl(5, 85%, 63%);

$color-sixth: hsl(233, 8%, 79%);